.specials-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specials-wrapper-inner {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specials-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.specials-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.special-menu-wrapper {
  margin: 10px;
  width: 30%;
}
